<div class="row">
    <div class="col-xs-8 col-xs-offset-2">

<h2><%= current_customer.lastname %><%= current_customer.firstname %>さんの会員情報編集</h2>
<br><br>

<%= form_for(current_customer, url:public_customers_path) do |f| %>
    <% if current_customer.errors.any? %>
        <h3><%= current_customer.errors.count %>error occurrence</h3><!--エラーメッセ-->
        <ul>
            <% current_customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <table class="table">
        <tbody>
            <tr>
        	 	    <th><%= f.label :名前 %></th>
        		    <td><%= f.text_field :lastname, autofocus: true, placeholder: "（姓）" %></td>
                <td><%= f.text_field :firstname, autofocus: true, placeholder: "（名）" %></td>
        	   </tr>

            <tr>
              	<th><%= f.label :フリガナ %></th>
              	<td><%= f.text_field :lastname_kana, autofocus: true, placeholder: "（セイ）" %></td>
                <td><%= f.text_field :firstname_kana, autofocus: true, placeholder: "（メイ）" %></td>
            </tr>

            <tr>
                <th><%= f.label :メールアドレス %></th>
                <td colspan="2"><%= f.text_field :email, autofocus: true %></td>
            </tr>

            <tr>
          	    <th><%= f.label :郵便番号（ハイフンなし） %></th>
          	    <td colspan="2"><%= f.text_field :zip_code, autofocus: true %></td>
            </tr>

            <tr>
                <th><%= f.label :住所 %></th>
          	    <td colspan="2"><%= f.text_field :address, autofocus: true, size:"50" %></td>
            </tr>
          
            <tr>
          	    <th><%= f.label :電話番号（ハイフンなし） %></th>
          	    <td colspan="2"><%= f.text_field :phone, autofocus: true %></td>
            </tr>

        </tbody>
    </table>

    <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>

    <span><%= link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger customer-edit-danger" %> </span>

<% end %>

</div>
</div>
