<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2><%= current_customer.lastname %><%= current_customer.firstname %>さんの会員情報編集</h2>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-xs-8">
      <%= form_for(current_customer, url:public_customers_path) do |f| %>
      <% if current_customer.errors.any? %>
      <h3><%= current_customer.errors.count %>error occurrence</h3><!--エラーメッセ-->
      <ul>
        <% current_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>

      <table class="table">
        <tbody>
          <tr>
        		<th><%= f.label :名前 %></th>
        		<td>（姓）<%= f.text_field :lastname, autofocus: true %>（名）<%= f.text_field :firstname, autofocus: true %></td>
        	</tr>

          <tr>
          	<th><%= f.label :フリガナ %></th>
          	<td>（セイ）<%= f.text_field :lastname_kana, autofocus: true %>（メイ）<%= f.text_field :firstname_kana, autofocus: true %></td>
          </tr>

          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td colspan="2"><%= f.text_field :email, autofocus: true %></td>
          </tr>

          <tr>
          	<th><%= f.label :郵便番号（ハイフンなし） %></th>
          	<td colspan="2"><%= f.text_field :zip_code, autofocus: true %></td>
          </tr>

          <tr>
          	<th><%= f.label :住所 %></th>
          	<td colspan="2"><%= f.text_field :address, autofocus: true, size:"50" %></td>
          </tr>
          
          <tr>
          	<th><%= f.label :電話番号（ハイフンなし） %></th>
          	<td colspan="2"><%= f.text_field :phone, autofocus: true %></td>
          </tr>

        </tbody>
      </table>

      <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>

      <h4><%= link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger" %> </h4>

      <% end %>
    </div>
  </div>
</div>
