<div class="row">
  <div class="col-xs-6 col-xs-offset-3">

<h4 style="color:red" ><%= flash[:error] %></h4>
<br><br>

<h4>会員の方はこちらからログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <table class="table">
        <tr>
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

        <tr>
            <th><%= f.label :パスワード %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
    </table>

        <%= link_to "=>パスワードを忘れた方はこちら", new_customer_password_path, class: "registration-new-text" %>

        <div class="row actions">
            <%= f.submit "ログイン", class: "btn btn-primary col-xs-2 col-xs-offset-5 " %>
        </div>

<% end %>

<h4>登録がお済みでない方</h4>
<%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください

  </div>
</div>
