<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="serch-bar">
        <h4>ジャンル検索</h4>
        <% @genres.each do |genre|%>
          <div class="one-genre">
            <%= link_to public_products_path(@products, genre_id: genre.id) do %>
              <%= genre.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="col-xs-9">
        <div class="item-image-show">
          <%= attachment_image_tag @product, :image, size:"300x200", format:'jpeg', fallback: "no_image.jpg" %>
        </div>
        <div class="item-text-show">
          <div class="item-name">
            <h3><%= @product.name %></h3><br>
          </div>
          <div class="item-discription">
            <%= @product.discription%><br><br>
          </div>
          <div class="item-price">
            <h4>￥<%= @product.tax_excluded_price%>(税込み)</h4><br>
          </div>

          <% if customer_signed_in? %>
            <div align="right" class="amount-select-box">
              <%= form_with(model: @cart_item, url: public_cart_items_path) do |f|%>
                <%= f.hidden_field :product_id, :value => params[:id] %>
                <%= f.label :amount, "数量"%>
                <%= f.select :amount, [1,2,3,4,5,6,7,8,9]%>
                <%= f.submit "カートに入れる", class: "btn btn-primary"%>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
</div>
