
  <div class="row">
    <div class="col-xs-2">
      <div class="serch-bar-top">
        <h4>ジャンル検索</h4>
        <div class="one-genre">
          <% @genres.each do |genre|%>
            <%= link_to public_products_path(@products, genre_id: genre.id) do %>
              <p><%= genre.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="introduction">
        <p class="preface">ようこそ、NaganoCakeへ！<br>
           このサイトは、ケーキ販売のECサイトになります。<br>
           会員でない方も商品の観覧はできますが、<br>
           購入には会員登録が必要になります。
        </p>
      </div>
      <h2>おすすめ商品</h2>
      <div class="product-box-top">
        <% @products.each do |product|%>
              <div class="item-box-top">
                <%= link_to(public_product_path(product.id)) do %>
                    <%= attachment_image_tag(product, :image, size:"140x100", fallback: "no_image.jpg") %><br>
                <% end %>
                <%= product.name %><br>
                ￥<%= (product.tax_excluded_price * 1.1).round.to_s(:delimited)%><br>
              </div>
          <% end %>
          <div class="link-index">
            <%= link_to "もっと見る＞", public_products_path %>
          </div>
      </div>
    </div>
   </div>