<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h2>ジャンル編集</h2>
			<br><br>
			<%= form_for(@genre, url: admins_genre_path) do |f| %>
				<table class="table">
					<tbody>
						<tr>
							<td><h5>ジャンル</h5></td>
							<td><%= f.text_field :name %>
							<label><%= f.radio_button :is_valid, "true" %> 有効</label>
							<label><%= f.radio_button :is_valid, "false" %> 無効</label>
							<%= f.submit "変更を保存する", class: "btn btn-info" %>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
</div>