<% total = 0 %>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col-xs-8 text-right">
      <br>
      <%= link_to "カートを空にする",public_cart_items_destroy_all_path, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

  <br><br>

  <div class="row">
    <table class="table table-hover table-inverse col-xs-9">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= attachment_image_tag(cart_item.product, :image, size:"100x100", fallback: "no_image.jpg") %>
                  <%= Product.find(cart_item.product_id).name %>
                </td>
                <td><%= (Product.find(cart_item.product_id).tax_excluded_price * 1.1).round %></td>
                <td>
                  <%= form_with(model: cart_item, url:public_cart_item_path(cart_item.id), method: :patch) do |f|%>
                    <%= f.select :amount, [1,2,3,4,5,6,7,8,9]%>
                    <%= f.submit "変更", class: "btn btn-primary"%>
                  <% end %>
                </td>
                <% subtotal = cart_item.amount * Product.find(cart_item.product_id).tax_excluded_price * 1.1 %>
                <% total += subtotal%>
                <td><%= subtotal.round.to_s(:delimited) %></td>
                <td><%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger"%></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <%= link_to "買い物を続ける", public_products_path, class: "btn btn-primary btn-sm" %>
      </div>
      <div class="col-xs-8">
        <table align="right" class="cart-total">
            <tr>
              <td class="sum-letter"><h4>合計金額<h4></td>
              <td class="sum-number"><h4><%= total.round.to_s(:delimited) %></h4></td>
            </tr>
        </table>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col text-center">
        <%= link_to "情報入力に進む", new_public_order_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>
