<div class="row">

	<h4>注文情報確認</h4>
	<div class="col-xs-8">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>商品</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
					<tr>
						<td>
							<%= attachment_image_tag(cart_item.product, :image, :fill, 200, 200, fallback: "no_image.jpg") %>
							<%= Product.find(cart_item.product_id).name %>
						</td>
						<% per_total = Product.find(cart_item.product_id).tax_excluded_price * 1.1 %>
						<td><%= per_total.to_s(:delimited) %></td>
						<td><%= cart_item.amount %></td>
						<% subtotal = cart_item.amount * per_total %>
						<% total += subtotal%>
						<td><%= subtotal.to_s(:delimited) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="col-xs-4">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>送料</th><td>800</td>
				</tr>
				<tr>
					<th>商品合計</th><td><%= total.to_s(:delimited) %></td>
				</tr>
				<tr>
					<th>請求金額</th><td><%= (total + 800).to_s(:delimited) %></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<h4>支払い方法</h4>

<h4>お届け先</h4>

<%= link_to "購入を確定する", public_orders_path, method: :post, class: "btn btn-info" %>



