<div class="container">
<div class="row">

	<div class="parents">
	<h2>商品一覧</h2>
	<%= link_to "+", new_admins_product_path, class: "new-btn" %>
	<div class="col">
	<table class="table">
		<thead>
		  	<tr>
		  		<th>商品ID</th><th>商品名</th><th>税抜き価格</th><th>ジャンル</th><th>ステータス</th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  	<% @products.each do |product| %>
	  	<tr>
	  		<td><%= product.id %></td>
	  		<td><%= link_to admins_product_path(product) do %>
	  			<%= product.name %><% end %></td>
	  		<td><%= product.tax_excluded_price.to_s(:delimited) %></td>
	  		<td><%= product.genre.name %>
	  		<td><% if product.is_valid == true %>
	  				<p>販売中</p>
	  			<% else %>
	  				<p>販売停止中</p>
	  			<% end %>
	  		</td>
	  	</tr>
	  	<% end %>
	  	</tbody>
	</table>
	</div>
	</div>
</div>
</div>

