<div class="container">
<div class="row">
	<h1>商品新規登録</h1>

	<% @product.errors.full_messages.each do |message| %>
   		<li><%= message %></li>
  	<% end %>

	<div class="col-xs-4 form">
		<%= form_for(@product, url: admins_products_path) do |f| %>
			<%= attachment_image_tag @product, :image, size:"300x200", format:'jpeg', fallback: "no_image.jpg" %>
			<%= f.attachment_field :image %>
	</div>

	<div class="col-xs-8 form">
			<dt><label>商品名</label></dt>
			<dd><%= f.text_field :name ,size: 22 %><br></dd>

			<dt><label>商品説明</label></dt>
			<dd><%= f.text_area :discription ,size: "21x5" %><br></dd>

			<dt><label>ジャンル</label></dt>
			<dd><%= f.collection_select :genre_id, Genre.all, :id, :name , {}, class: "status" %><br></dd>

			<dt><label>表示価格</label></dt>
			<dd><%= f.text_field :tax_excluded_price ,size: 22 %>円<br></dd>

			<dt><label>販売ステータス</label></dt>
		<dd><%= f.select :is_valid , [['販売中','true'],['販売中止','false']] , {}, class: "status"%><br></dd>

			<div class="button"><%= f.submit "新規登録", class:"btn btn-info"%></div>

		<% end %>
	</div>
</div>
</div>

