<div class="container">
<div class="row">
	<h2>商品詳細</h2>

	<div class="col-xs-4">
		<%= attachment_image_tag @product, :image, size:"300x200", format:'jpeg', fallback: "no_image.jpg" %>
	</div>
	<div class="col-xs-8">
		<label>商品名</label>
		<p><%= @product.name %></p>
		<label>商品説明</label>
		<p><%= @product.discription %></p>
		<label>ジャンル</label>
		<p><%= @product.genre.name %></p>
		<label>税込価格 (税抜価格)</label>
		<% price = @product.tax_excluded_price * 1.1 %>
		<p><%= price.round.to_s(:delimited) %> (<%= @product.tax_excluded_price.to_s(:delimited) %>) 円</p>
		<label>販売ステータス</label>
		<% if @product.is_valid == true %>
			<p>販売中</p>
		<% else %>
			<p>販売停止中</p>
		<% end %>
		<%= link_to "編集する", edit_admins_product_path, class:"btn" %>
	</div>
</div>
</div>

