<div class="container">
<div class="row">
	<h2>商品詳細</h2>

	<div class="col form">
		<div class="show-image">
		<%= attachment_image_tag @product, :image, size:"300x200", format:'jpeg', fallback: "no_image.jpg" %>
		</div>
		<div class="explanation" >
			<div class="show-product">
			<dt><label>商品名</label></dt>
			<dd><p><%= @product.name %></p></dd><br>
			<dt><label>商品説明</label></dt>
			<dd><p><%= @product.discription %></p></dd><br>
			<dt><label>ジャンル</label></dt>
			<dd><p><%= @product.genre.name %></p></dd><br>
			<dt><label>税込価格 (税抜価格)</label></dt>
			<% price = @product.tax_excluded_price * 1.1 %>
			<dd><p><%= price.round.to_s(:delimited) %> (<%= @product.tax_excluded_price.to_s(:delimited) %>) 円</p></dd><br>
			<dt><label>販売ステータス</label></dt>
			<% if @product.is_valid == true %>
				<dd><p>販売中</p></dd><br>
			<% else %>
				<dd><p>販売停止中</p></dd><br>
			<% end %>
			<div class="button"><%= link_to "編集する", edit_admins_product_path, class:"btn btn-info" %></div>
			</div>
		</div>
	</div>
</div>
</div>

