<% total = 0 %>
<div class="container">
	<div class="row">
		<div class="col">
		<h2>注文履歴詳細</h2>
		<label>購入者</label>
		<%= @order.customer.lastname %>
		<%= @order.customer.firstname %>
		<label>配送先</label>
		<%= @order.zip_code %><%= @order.address %><br>
		<%= @order.name %>
		<label>支払い方法</label>
		<%= @order.payment_method %>
		<label>注文ステータス</label>
		<% form_for(@order, url: admins_order_path) do |f| %>
		<%= f.select :order_status, Order.order_status.keys,{} %>
		<%= f.submit "更新" %>
		<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-9">
		<table class="table">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込み）</th>
					<th>数量</th>
					<th>小計</th>
					<th>制作ステータス</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @order.ordered_items.each do |order| %>
				<tr>
					<td><%= order.product.name %></td>
					<td><%= order.tax_included_price.to_s(:delimited) %></td>
					<td><%= order.amount %></td>
					<% subtotal = order.tax_included_price * order.amount %>
					<td><%= subtotal.to_s(:delimited) %></td>
					<td><%= order.production_status %></td>
					<td><%= link_to "更新",adomins_ordered_item_path(@order_item) %></td>
				</tr>
				<% total += subtotal %>
			<% end %>
			</tbody>
		</table>
		</div>
		<div class="col-xs-3">
			<label>商品合計</label>
			<%= total.to_s(:delimited) %>円
			<label>送料</label>
			<%= @order.delivery_fee %>円
			<label>請求金額合計</label>
			<%= @order.total.to_s(:delimited) %>円
		</div>
	</div>
</div>