<!DOCTYPE html>
<html>
  <head>
    <title>Hollywood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" style="background-color:#faf0e6;">
        <span>LOGO</span>
        <ul class="nav navbar-nav navbar-right">
          <% if customer_signed_in? %>
            <li>ようこそ<%= current_customer.lastname %>さん！</li>
            <li><%= link_to "マイページ", public_customers_path(current_customer.id) %></li>
            <li><%= link_to "商品一覧", public_products_path %></li>
            <li><%= link_to "カート", public_cart_items_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to "商品一覧", admins_products_path %></li>
            <li><%= link_to "会員一覧", admins_customers_path %></li>
            <li><%= link_to "注文一覧", admins_orders_path %></li>
            <li><%= link_to "ジャンル一覧", admins_genres_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "About", public_homes_about_path %></li>
            <li><%= link_to "商品一覧", public_products_path %></li>
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="main">
      <%= notice %>

      <%= yield %>
    </div>
  </body>
</html>
